html {
  	font-size: 16px;
}
body {
	-webkit-font-smoothing: antialiased;
  	font-size: 1rem;
}

div.inner {
	max-width: 1000px;
	width: 80%;
	margin: 0 auto;
}

@white:		#ffffff;
@teal:		#26b2a0;
@pink:		#ed146c;
@yellow:	#fcb315;
@black:		#505152;
@grey:		#e6e7e8;

h1 {

}

h2 {

}

h3 {

}

p {

}
