html {
  	font-size: 16px;
}
body {
	-webkit-font-smoothing: antialiased;
  	font-size: 1rem;
}

div.inner {
	max-width: 1000px;
	width: 80%;
	margin: 0 auto;
}

@white:		#ffffff;
@teal:		#26b2a0;
@pink:		#ed146c;
@yellow:	#fcb315;
@black:		#505152;
@grey:		#e6e7e8;

h1 {

}

h2 {
	font-size: 2.5em;
	color: @yellow;
	text-align: center;
	.signika-bold;
	text-transform: uppercase;
	line-height: 1.3em;
	padding: 120px 0 83px;
}

h3 {

}

p {
	color: @black;
	font-size: 1.625em;
	line-height: 1.5384615384615385em;
	padding-bottom: 22px;
	.signika-light;
}
